body {
    background-color: dimgrey ;
    color: whitesmoke;
}

.paragraphe1{
    background: url("pingouin.png") no-repeat center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: cornflowerblue;
    border: 7px orange dashed;
    background-position: left;
    background-size: contain;
    margin-top: 1%;
    padding: 10px;
}

.paragraphe2{
    background: url("pingouin_rogner.png") no-repeat center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: darkolivegreen;
    border: 7px orange dashed;
    background-position: left;
    background-size: contain;
    background-clip: padding-box;

}

.paragraphe3{
    background: url("pingouin.png") no-repeat center;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: violet;
    border: 7px orange dashed;
    background-position: left;
    background-size: contain;
    background-clip: content-box;
}